html {
  box-sizing: border-box;
  min-width: 320px;
}

*::selection {
  background-color: $selection;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"],
[type="button"],
[type="reset"],
[type="submit"] {
  background: none;
  -webkit-appearance: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  resize: none;
}

button::selection {
  background-color: transparent;
}

input {
  border: none;
}

body {
  background-color: #fefeff;
  overflow-x: hidden;
  color: $text;
  font: 14px/15px $rr;
}

.container {
  width: 100%;
  padding-left: 190px;
  padding-right: 190px;
  margin: 0 auto;
}
