$rb: "rb", sans-serif;
$rm: "rm", sans-serif;
$rr: "rr", sans-serif;
$rl: "rl", sans-serif;
$osb: "osb", sans-serif;

$selection: #fdd990;
$accent: #ffc34b;
$text: #483d3d;
$text-light: #575656;
$text-green: #117a22;
