@import "../../node_modules/normalize.css/normalize";
@import "fonts";
@import "vars";
@import "global";

//=====================
//      Header
//=====================

.header {
  border-bottom: 7px solid $accent;
  margin-bottom: 10px;
}

.header_title {
  font: 35px $rb;
  padding-left: 62px;
}

.product_cards {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_card {
  position: relative;
  max-width: 364px;
  border-radius: 13px;
  padding-bottom: 31px;
  border: 1px solid #cecece;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.17);
  }

  &:hover .product_card-code-num {
    color: $text;
  }

  &:hover .product_card-existence--in-stock {
    color: $text-green;
  }

  &:hover .product_card-existence--out-of-stock {
    color: $text-red;
  }
}

.icon_info {
  height: 27px;
  width: 30px;
  fill: $accent;
  margin-right: 20px;
}

.product_card-container {
  padding-left: 43px;
  padding-right: 43px;
  margin: 0 auto;
}

.product_card-header {
  border-bottom: 1px solid #cecece;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 43px;
  padding-right: 43px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 13px 13px 0 0;
}

.product_card-code {
  color: #afafaf;
}

.product_card-code-num {
  transition: color 0.2s;
}

.product_card-existence--in-stock {
  color: rgba($text-green, 0.7);
  transition: color 0.2s;
}

.product_card-existence--out-of-stock {
  color: rgba($text-red, 0.7);
  transition: color 0.2s;
}

.product_card-img-link {
  display: block;
  height: 310px;
}

.product_card-img-link {
  display: block;
  height: 350px;
}

.product_card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.product_card-title {
  font: 18px $rm;
  padding-top: 31px;
  padding-bottom: 32px;
}

.product_card-blocks {
  display: flex;
  padding-bottom: 70px;
}

.product_card-block-title {
  font: 14px $rl;
  color: $text-light;
  margin-bottom: 9px;
}

.product_card-price-block {
  margin-right: 29px;
}

.product_card-price-club {
  font: 22px/22px $osb;

  & .product_card-currency {
    font: 18px $rl;
  }
}

.product_card-price {
  font: 18px $rl;
  color: #bcbcbc;

  & .product_card-currency {
    font: 13px $rl;
  }
}

.product_price-type-btn + .product_price-type-btn {
  margin-left: 11px;
}

.product_price-type-btn {
  & .product_price-type-icon {
    height: 32px;
    width: 37px;
    fill: #cecece;
    transition: fill 0.3s;
  }

  &:hover .product_price-type-icon {
    fill: #808080;
  }

  &.active .product_price-type-icon {
    fill: $text;
  }

  &.active:hover .product_price-type-icon {
    fill: $text;
  }
}

.product_card-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  padding-right: 40px;
}

.product_card-btn-add {
  color: #fff;
  font: 18px $rm;
  padding: 13px 27px;
  border-radius: 13px;
  max-width: 50%;
  min-width: 145px;
  margin-right: 22px;
  width: 100%;
  background-color: $accent;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ffb829;
  }

  &:active {
    background-color: #eba51b;
  }
}

.product_card-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_card-control-btn {
  font: 20px $rr;
  text-align: center;
  display: inline-block;
  height: 27px;
  width: 27px;
  min-width: 27px;
  border-radius: 50%;
  color: #adadad;
  border: 1px solid #adadad;
  transition: background-color 0.1s;

  &:hover {
    color: $text;
    border: 1px solid $text;
  }

  &:active {
    color: #fff;
    background-color: $text;
  }

  &:disabled {
    border: 1px solid #d8d8d8;
    color: #d8d8d8;
  }
}

.product_card-count {
  font: 24px $rb;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 48px;

  &:hover + .product_card-count-popup {
    opacity: 1;
    visibility: visible;
  }
}

.product_card-count-popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  align-items: center;
  right: -86px;
  bottom: -96px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 13px;
  line-height: 20px;
  padding: 23px;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 167px;
    background-color: #fff;
    border: 1px solid #cecece;
    border-bottom: #fff;
    width: 28px;
    height: 14px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  }
}

@import "media";
